.content{
    grid-area: c;
    background: darkseagreen;
  }
.content img{
    width: 50%;
    }
.norka{
    width: 400px;
      }
.profil{
    display: flex;
      }     
.content{
    grid-area: c;
    background: darkseagreen;
  }
      